---
import HomeIcon from "./../icons/Home.astro"
import WorkspacesIcon from "../icons/Workspaces.astro"
import UsersIcon from "./../icons/Users.astro"
import ServicesIcon from "./../icons/Services.astro"
import ContactsIcon from "./../icons/Contacts.astro"
import ListIcon from "./../icons/List.astro"
import ConfigurationIcon from "./../icons/Configuration.astro"
const {itemName, svgName, href, info, children} = Astro.props.data;
const hasChildren = Array.isArray(children) && children.length > 0;
---

<li>
    <a
        class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 cursor-pointer"
        href={href || null}
        aria-controls={hasChildren ? "dropdown-sidebar-" + itemName : ``}
        data-collapse-toggle={hasChildren ? "dropdown-sidebar-" + itemName : ``}
    >
        <!-- SVG -->
        {
            (function getSVG (name) {
                switch(name){
                    case 'home': return <HomeIcon/>;
                    case 'workspaces': return <WorkspacesIcon/>;
                    case 'users': return <UsersIcon/>;
                    case 'services': return <ServicesIcon/>;
                    case 'contacts': return <ContactsIcon/>;
                    case 'list': return <ListIcon/>;
                    case 'configuration': return <ConfigurationIcon/>;
                }
            })(svgName)
        }

        <!-- Item name -->
        <span class="flex-1 ml-3 text-left whitespace-nowrap">{itemName}</span>

        <!-- Info of item -->
        {
            !hasChildren && info && 
            <span
                class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-300 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >{info}</span>
        }

        <!-- Arrow down (svg) -->
        {
            hasChildren &&
            <svg
                aria-hidden="true"
                class="w-6 h-6 group-hover:text-[#146eab] dark:group-hover:text-white"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
        }
    </a>
    <!-- Children -->
    {
        hasChildren && 
        <ul id={"dropdown-sidebar-" + itemName} class="hidden py-2 space-y-2">
            {
                children.map(elem => {
                    return (
                        <li>
                            <a
                            href={elem.href}
                            class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                            >{elem.childrenName}</a>
                        </li>
                    )
                })
            }
        </ul>
    }
</li>