---
import Sidebar from '../components/Sidebar.astro';
import { ViewTransitions } from 'astro:transitions';
import Cdn from '../scripts/Cdn.astro'

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/consultora.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <ViewTransitions/>
        
        <script>
            const getTheme = (() => {
                if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
                    return localStorage.getItem('theme');
                }
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    return 'dark';
                }
                return 'light';
            });
        
            const setTheme = ((theme) => {
                if(theme == 'light'){
                    document.documentElement.classList.remove('dark');
                }else{
                    document.documentElement.classList.add('dark');
                }
            });
        
            window.addEventListener('DOMContentLoaded', function () {
                let theme = getTheme()
                setTheme(theme)
                window.localStorage.setItem('theme', theme);
                console.log(theme)
            });
            document.addEventListener('astro:after-swap', function () {
                console.log(getTheme());
                setTheme(getTheme());
            });
        </script>
	</head>
	<body>
        <Sidebar transition:persist="sidebar"/>
		<slot />
        <Cdn client:load/>
	</body>
</html>

<style is:global>
    html {
        font-family: 'Spectre', sans-serif;
        width: 100%;
    }

    @font-face {
        font-display: swap;
        font-family: Spectre;
        font-style: normal;
        font-weight: 300;
        src: url('/fonts/Spectre--light.woff2') format("woff2")
    }

    @font-face {
        font-display: swap;
        font-family: Spectre;
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/Spectre--regular.woff2') format("woff2")
    }

    @font-face {
        font-display: swap;
        font-family: Spectre;
        font-style: normal;
        font-weight: 500;
        src: url('/fonts/Spectre--medium.woff2') format("woff2")
    }

    @font-face {
        font-display: swap;
        font-family: Spectre;
        font-style: normal;
        font-weight: 700;
        src: url('/fonts/Spectre--bold.woff2') format("woff2")
    }

    @font-face {
        font-display: swap;
        font-family: Spectre;
        font-style: normal;
        font-weight: 800;
        src: url('/fonts/Spectre--extrabold.woff2') format("woff2")
    }

    @font-face {
        font-display: swap;
        font-family: Spectre;
        font-style: normal;
        font-weight: 900;
        src: url('/fonts/Spectre--black.woff2') format("woff2")
    }
</style>

